#title {
    margin-left: 24%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: bold;
}
#navposition {
    margin-left: 24%;
}
#welcometext {
    margin-top: 0em;
    margin-bottom: 0.2em;
    font-family: Verdana;
    font-size: 2em;
    color: maroon;
}
#textarea {
    border: lightgray solid 0.2em;
    border-radius: .21em;
    padding: 2em;
    margin-top: 5em;
    margin-left: 3em;
    margin-right: 5em;
    margin-bottom: 10%;
    font-size: 1em;
}
#footerlink {
    margin-left: 39%;
    text-decoration: none;
}
#team {
    margin-left: 4em;
    margin-bottom: 4%;
    height: 100%;
    width: 100%;
}
.member {
    display: inline-block;
    /*position: relative;*/
    margin-top: 2em;
    margin-left: 2.5%;
    border: lightgrey solid .2em;
    border-radius: .21em;
    height: 100%;
    width: 20%;
}
.img {
    padding: 2em;
}
.id {
    margin-left: 15%;
    padding: 2em;
    font-size: 1em;
}
#def {
    margin-left: 10%;
    margin-bottom: 22%;
}
#address {
    text-align: center;
    margin-top: 7%;
    margin-bottom: 10%;
    font-size: 1.5em;  
}
#formbox {
    border: lightgray solid .02em;
    padding: 1em;
    margin-bottom: 10%;
    
}
@media screen and (max-width: 420px) {
  .member {
    display: block;
    width: 70%;
  }
  #team {
      margin-left: 1em;
      margin-bottom: 22%;
  }
  .collapse.navbar-collapse {
      display: block;
  }
  #title {
      margin-left: 10%;
  }
  #formbox {
      margin-bottom: 22%;
  }
  #textarea {
      margin-bottom: 22%;
  }
  #address {
      margin-bottom: 22%;
  }
}