<div class="container-fluid">
    <div id="welcometext">Our Leadership Team</div>
    <div id="team">
        <div class="member">
            <div class="img"><img src="/views/images/avatar.png" class="img-responsive"></div>
            <div class="id">Bob Refinanceer</div>
        </div>
        <div class="member">
            <div class="img"><img src="/views/images/avatar.png" class="img-responsive"></div>
            <div class="id">Sally Homeseller</div>
        </div>
        <div class="member">
            <div class="img"><img src="/views/images/avatar.png" class="img-responsive"></div>
            <div class="id">Jim Realestate</div>
        </div>
        <div class="member">
            <div class="img"><img src="/views/images/avatar.png" class="img-responsive"></div>
            <div class="id">Jennifer Saunders</div>
        </div>
    </div>
</div>


