<div class="container-fluid">
    <div id="welcometext">Welcome to Regency Title & Closing</div>
        <div id="textarea">
            <p><strong>Regency Title & Closing, LLC</strong> is an experienced and reputable title and closing company, providing a full range of residential and commercial real estate title insurance, as well rapid, accurate and convenient settlement services. Our corporate office is centrally located in Birmingham, but we handle transactions throughout the state of Alabama. Our policy is to ensure that every closing is handled with the highest standard of professionalism and care.</p>
            <p>We understand that time is money. Our experience with real estate and mortgage professionals help us meet both your needs and your client's requirements.  We’re certain that you will appreciate our fast processing, which in turn allows us to schedule closings at your convenience. We offer terrific flexibility, while keeping our rates very competitive.</p>
        </div>
</div>
